<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Protofolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
	<link id="theme-style" rel="stylesheet" type="text/css" href="">
</head>
<body>
    {% include 'base/navbar.html' %}
    <h3>This is main html page</h3>
    {% block content %}
    {% endblock %}
</body>
</html>